.map{
    padding-top: 20%;
    margin-left: 5%;
    padding-bottom: 10%;
    height: 60%;
    width: 35%;
    /* background-color: aqua; */
}

.background
{
    /* text-align: center; */
    margin: 10% ;
    background-size: cover;
    width: 75%;
    height: 100%;
    background-image: url("https://www.india.ford.com/content/dam/Ford/website-assets/ap/in/locatedealer/desktop-new-image.jpg");
}


